<!DOCTYPE html>
<html ng-app>
<head>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/controllers.js"></script>	
</head>
<body>
<body ng-controller='CartController'>
<h1>Your Order</h1>
<div ng-repeat='item in items'>
<span>{{item.title}}</span>
<input ng-model='item.quantity'/>
<label>Per Unit Price:</label><span>{{item.price | currency }}</span>
<label>Total Price:</label><span>{{item.price * item.quantity | currency }}</span>
<button ng-click="remove($index)">Remove</button>
</div>
</body>
</html>